html {
	font-size: 16px;
	
}
body {
	border: solid blue 0.5rem;
	height: 900px;
	margin: 0 auto;
}
header {
	position: relative;
	width: 10%;
	height: 15rem;
	top:5rem;
	padding: 2rem;
	padding-left: 1rem;  
	box-sizing: border-box;
	border: solid pink 0.5rem;
}
article {
	position: absolute;
	width: 60%;
	height: 40em;
	padding-left: 1em; 
	top: 0.5em;
	left:10%;
	border:solid red 0.5rem;
	box-sizing: border-box;
}
article>footer {
	position: inherit;
	width:100%;
	left: 0em;
	bottom: 0em;
	border: inherit;
	box-sizing: border-box;

}
aside{
	position: absolute;
	width: 30%;
	border: solid pink 0.5em;
	top: 5em;
	right: 0.5em;
	box-sizing: border-box;
}
#footer{
	position: fixed;
	width: 80%;
	bottom: 0.5em;
	margin: auto;
	padding: 2em;
	border: solid yellow 0.5rem;
	box-sizing: border-box;
}